.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  height: 3.5em;
  box-shadow: 0 0 20px -5px #000;
}

.navbar_navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.navbar_logo {
  margin-left: 1rem;
  font-weight: 600;
  font-family: 'Futura';
}

.navbar_logo a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}

.spacer_nav {
  flex: 1;
}

.navbar_navigation_items ul {
  list-style: none;
  padding: 0;
  display: flex;
}

@media (min-width: 45em) {
  .navbar_navigation_items ul {
    margin: 0 2rem 0 0;
  }
}

.navbar_navigation_items li {
  padding: 0 0.5rem;
}

.navbar_navigation_items a {
  color: black;
  text-decoration: none;
  font-weight: 700;
}

.navbar_navigation_items a:hover,
.navbar_navigation_items a:active {
  color: #fd5f53;
}

@media (max-width: 45em) {
  .navbar_navigation_items {
    display: none;
  }
}

@media (min-width: 45em) {
  .navbar_toggle-button {
    display: none;
  }
  .navbar_logo {
    margin-left: 0;
  }
}
